<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.emqdemo.mapper.EmqMapper">

    <insert id="current">
        INSERT INTO emq_current (`dev_code`,`online_status`,`send_time`,`seq_id`,`value`,`pump_speed_feedback`,`communication_status`,`wifi_switch`,`pump_speed_setting`,`o2_concentration`,`h2s_concentration`,`modbus_port`,`baud_code`,`co_concentration`,`mask_2`,`mask_1`,`mask_4`,`ip_address_1`,`mask_3`,`ip_address_2`,`ip_address_3`,`ip_address_4`,`pump_working_mode_setting`,`eth_working_mode`,`address_485`,`gateway_2`,`gateway_1`,`gateway_4`,`gateway_3`,`ch4_concentration`,`type`,`embedded_version`,`parity_check`)
        VALUES (#{DevCode},#{OnlineStatus},#{SendTime},#{SeqId},#{values},#{PumpSpeedFeedback},#{CommunicationStatus},#{WifiSwitch},#{PumpSpeedSetting},#{O2Concentration},#{H2SConcentration},#{MODBUSPort},#{BaudCode},#{COCconcentration},#{Mask2},#{Mask1},#{Mask4},#{IpAddress1},#{Mask3},#{IpAddress2},#{IpAddress3},#{IpAddress4},#{PumpWorkingModeSetting},#{EthWorkingMode},#{Address458},#{GateWay2},#{GateWay1},#{GateWay4},#{GateWay3},#{CH4_concentration},#{Type},#{EmbeddedVersion},#{ParityCheck})
    </insert>

    <insert id="onChange">
        INSERT INTO emq_onchange (`dev_code`,`online_status`,`send_time`,`seq_id`,`value`,`pump_speed_feedback`,`communication_status`,`wifi_switch`,`pump_speed_setting`,`o2_concentration`,`h2s_concentration`,`modbus_port`,`baud_code`,`co_concentration`,`mask_2`,`mask_1`,`mask_4`,`ip_address_1`,`mask_3`,`ip_address_2`,`ip_address_3`,`ip_address_4`,`pump_working_mode_setting`,`eth_working_mode`,`address_485`,`gateway_2`,`gateway_1`,`gateway_4`,`gateway_3`,`ch4_concentration`,`type`,`embedded_version`,`parity_check`)
        VALUES (#{DevCode},#{OnlineStatus},#{SendTime},#{SeqId},#{values},#{PumpSpeedFeedback},#{CommunicationStatus},#{WifiSwitch},#{PumpSpeedSetting},#{O2Concentration},#{H2SConcentration},#{MODBUSPort},#{BaudCode},#{COCconcentration},#{Mask2},#{Mask1},#{Mask4},#{IpAddress1},#{Mask3},#{IpAddress2},#{IpAddress3},#{IpAddress4},#{PumpWorkingModeSetting},#{EthWorkingMode},#{Address458},#{GateWay2},#{GateWay1},#{GateWay4},#{GateWay3},#{CH4_concentration},#{Type},#{EmbeddedVersion},#{ParityCheck})
    </insert>

    <insert id="interval">
        INSERT INTO emq_interval (`dev_code`,`online_status`,`send_time`,`seq_id`,`value`,`pump_speed_feedback`,`communication_status`,`wifi_switch`,`pump_speed_setting`,`o2_concentration`,`h2s_concentration`,`modbus_port`,`baud_code`,`co_concentration`,`mask_2`,`mask_1`,`mask_4`,`ip_address_1`,`mask_3`,`ip_address_2`,`ip_address_3`,`ip_address_4`,`pump_working_mode_setting`,`eth_working_mode`,`address_485`,`gateway_2`,`gateway_1`,`gateway_4`,`gateway_3`,`ch4_concentration`,`type`,`embedded_version`,`parity_check`)
        VALUES (#{DevCode},#{OnlineStatus},#{SendTime},#{SeqId},#{values},#{PumpSpeedFeedback},#{CommunicationStatus},#{WifiSwitch},#{PumpSpeedSetting},#{O2Concentration},#{H2SConcentration},#{MODBUSPort},#{BaudCode},#{COCconcentration},#{Mask2},#{Mask1},#{Mask4},#{IpAddress1},#{Mask3},#{IpAddress2},#{IpAddress3},#{IpAddress4},#{PumpWorkingModeSetting},#{EthWorkingMode},#{Address458},#{GateWay2},#{GateWay1},#{GateWay4},#{GateWay3},#{CH4_concentration},#{Type},#{EmbeddedVersion},#{ParityCheck})
    </insert>

    <insert id="set">
        insert into emq_set(`guid`,`point`,`value`) values (#{guid},#{point},#{value})
    </insert>

    <insert id="resp">
        insert into emq_resp(`guid`,`code`,`msg`,`ip_address_2`,`ip_address_3`,`ip_address_4`)
        VALUES (#{guid},#{code},#{msg},#{IPAddress2},#{IPAddress3},#{IPAddress4})
    </insert>

    <insert id="upload">
        insert into emq_upload(`alarm_desc`,`alarm_device`,`alarm_gen_value`,`alarm_guid`,`alarm_index`,`alarm_level`,`alarm_point`,`alarm_start`,`alarm_status`)
        values (#{AlarmDesc},#{AlarmDevice},#{AlarmGenValue},#{AlarmGuid},#{AlarmIndex},#{AlarmLevel},#{AlarmPoint},#{AlarmStart},#{AlarmStatus})
    </insert>

    <insert id="upoverload">
        insert into emq_upoverload(`alarm_desc`,`alarm_device`,`alarm_gen_value`,`alarm_guid`,`alarm_index`,`alarm_level`,`alarm_point`,`alarm_start`,`alarm_status`)
        values (#{AlarmDesc},#{AlarmDevice},#{AlarmGenValue},#{AlarmGuid},#{AlarmIndex},#{AlarmLevel},#{AlarmPoint},#{AlarmStart},#{AlarmStatus})
    </insert>
</mapper>
